.patientList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
}
table, tr, td, th {
    border: 1px solid;
}

.patientRow:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30%;
    margin: 0 0 10px 0;
    height: 1.5rem;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0 10px;

}